{% extends 'base.html.twig' %}

{% block title %}GoodGame!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('./js/script.js') }}"> </script>
{% endblock %}

{% block body %}

<h1> login </h1>

<div class="jeu">
    <div class="infos">
        <div class="score">
            Score: 0 
        </div> 
        <div class="secondes">
            Seconde restant: 15
        </div>
    </div>
    <div class="espace-jeu">
        <h2>Salut {{ app.user.nom }}!😎, Joues!</h2>
            <button class="start">Start </button>
            <div class="block"></div>
    </div>
    <div class="classement">
        Classement:
        <ol>
            <li>{{ app.user.nom }}</li>
            <h3 id="classementScore"> </h3>
        </ol>
    </div>
</div>
{% endblock %}
