.jeu {
    display: flex;
    height: 85vh; 
}
  
/* score et seconde */
.infos {
    width: 16%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.block{
    width: 600px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(217, 219, 217);
    border-radius: 10px;
    cursor:crosshair;
    margin-top: 1rem;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
}
  
.score {
    margin-bottom: 1rem;
}
  
.espace-jeu {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.classement {
    width: 24%; 
    display: flex;
    margin-left: -4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
  
 
.classement ol {
    /* list-style: none; */
    padding: 0;
    margin: 0;
}
  
.classement li {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.start {
    width: 20%;
    margin-top: 0rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #6fd151;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
.start:hover {
    background-color: #112b02;
}

.enemy{
    position: absolute;
    transition: 0.25s;
}